################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/obj
/Properties
node_modules/
lib/
/Startup.cs
/Program.cs
/package-lock.json
wwwroot/app/*.js
wwwroot/app/*.map